#game {
  box-sizing: content-box;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  height: 307px;
  width: 307px;
}

.game__tile {
  background-color: blue;
  border: 5px solid black;
  box-sizing: border-box;
  height: 100px;
  margin: 1px;
  width: 100px;
}

.game__tile[data-hover='true'] {
  background-color: orange;
}

.game__tile[data-clicked='true'] {
  background-color: red;
} 

.game__tile[data-complete='true'] {
  background-color: purple;
}

#game[data-incorrect='true'] {
  border-color: red;
}